@charset "UTF-8";
@font-face {
  font-family: 'Helvetica';
  src: url("fonts/helvetica_bold.eot");
  src: local("☺"), url("fonts/helvetica_bold.woff") format("woff"), url("fonts/helvetica_bold.ttf") format("truetype"), url("fonts/helvetica_bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica';
  src: url("fonts/helvetica_normal.eot");
  src: local("☺"), url("fonts/helvetica_normal.woff") format("woff"), url("fonts/helvetica_normal.ttf") format("truetype"), url("fonts/helvetica_normal.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica';
  src: url("fonts/HelveticaNeueCyr-Light.eot");
  src: local("☺"), url("fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("fonts/HelveticaNeueCyr-Light.ttf") format("truetype"), url("fonts/HelveticaNeueCyr-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  overflow: hidden; }

.aside-btn {
  display: none; }

aside {
  display: block;
  width: 22vw;
  height: 100vh;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0; }
  aside .aside_close {
    display: none; }
  aside .aside-top {
    width: 100%;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 84px;
    padding: 30px 20px 30px 30px;
    flex-wrap: wrap;
    position: relative; }
    aside .aside-top::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      background-image: url("img/Logo@3x.svg");
      background-repeat: no-repeat;
      margin-right: 0px;
      background-position-y: center; }
    aside .aside-top::after {
      content: "";
      position: absolute;
      right: -10px;
      width: 50px;
      height: 50px;
      background-image: url("img/Search@3x.svg");
      background-repeat: no-repeat;
      margin-right: 0px;
      background-position-y: center; }
    aside .aside-top h3 {
      flex: 0 1 auto;
      font-weight: normal;
      font-size: 16px;
      margin-left: 40px; }
  aside .aside-user {
    width: 100%;
    background: #202020;
    height: 80px;
    padding: 16px 20px 16px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    aside .aside-user::after {
      content: "";
      width: 30px;
      height: 30px;
      background-image: url("img/dots2.png");
      background-repeat: no-repeat;
      margin-right: 0px;
      background-position-y: center;
      background-position-x: right; }
    aside .aside-user .aside-user_logo img {
      width: 48px;
      height: 48px; }
    aside .aside-user p {
      color: #FFFFFF;
      font-weight: 400;
      font-size: 14px; }
      aside .aside-user p span {
        color: #9B9B9B;
        font-size: 12px; }
  aside .aside-menu {
    color: #FFFFFF;
    padding: 20px 0px 0px 30px; }
    aside .aside-menu .aside-menu_tasks {
      display: flex;
      justify-content: space-between; }
      aside .aside-menu .aside-menu_tasks h4 {
        font-size: 20px; }
        aside .aside-menu .aside-menu_tasks h4 span {
          font-size: 12px;
          opacity: 0.5; }
    aside .aside-menu .aside-menu_tasks .completed_tasks, aside .aside-menu .aside-menu_tasks .open_tasks {
      width: 50%; }
    aside .aside-menu .aside-menu_list {
      padding: 30px 0px 0px 0px;
      line-height: 37px;
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif; }
      aside .aside-menu .aside-menu_list h6 {
        color: #878787; }
      aside .aside-menu .aside-menu_list ul {
        font-size: 14px;
        list-style-type: none;
        padding: 0;
        margin: 0; }
        aside .aside-menu .aside-menu_list ul a {
          text-decoration: none;
          color: inherit; }
        aside .aside-menu .aside-menu_list ul .list_notifications ::after {
          content: '';
          background-color: yellow;
          display: inline-block;
          position: relative;
          top: 3px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          margin-left: 5px; }

header {
  width: 78vw;
  height: 140px;
  background-color: #FFFFFF;
  margin-left: 22vw; }
  header .header-top {
    display: flex;
    justify-content: space-between;
    height: 45px;
    width: 100%;
    overflow: hidden;
    margin: 35px 0px 20px 30px;
    padding-right: 60px; }
    header .header-top .header-top_left {
      display: flex;
      justify-content: start;
      align-items: center; }
      header .header-top .header-top_left::before {
        content: "";
        width: 40px;
        height: 40px;
        background-image: url("img/shapes.png");
        background-repeat: no-repeat;
        background-size: contain; }
      header .header-top .header-top_left::after {
        content: "";
        width: 30px;
        height: 30px;
        background-image: url("img/dots_circle.png");
        background-repeat: no-repeat;
        background-position: center; }
      header .header-top .header-top_left h2 {
        font-size: 35px;
        margin: 0 10px; }
    header .header-top .header-top_right {
      display: flex;
      justify-content: end;
      align-items: center; }
      header .header-top .header-top_right .header-top_right_avat img {
        width: 35px;
        height: 35px; }
      header .header-top .header-top_right .header-top_right_buttons {
        display: flex;
        align-items: center; }
        header .header-top .header-top_right .header-top_right_buttons :first-child {
          margin-left: 20px;
          border: 0px;
          height: 30px;
          width: 65px;
          border-radius: 15px; }
        header .header-top .header-top_right .header-top_right_buttons :nth-child(2) {
          margin-left: 10px;
          border: 0px;
          height: 30px;
          width: 80px;
          border-radius: 15px;
          position: relative;
          background: #FFF8DD;
          color: #FFC200; }
          header .header-top .header-top_right .header-top_right_buttons :nth-child(2) img {
            width: 18px;
            height: 18px;
            position: absolute;
            top: 5px;
            left: -13px; }
  header .tab {
    display: flex;
    justify-content: start;
    height: 45px;
    width: 100%;
    overflow: hidden;
    margin: 0px 0px 15px 30px;
    padding-right: 60px; }
    header .tab button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 16px;
      margin-right: 30px;
      height: 22px;
      opacity: 70%;
      border-bottom: 2px solid transparent;
      padding-bottom: 38px; }
    header .tab button:hover {
      color: #202020;
      opacity: 100%; }
    header .tab button.active {
      border-bottom: 2px solid #FFC200;
      opacity: 100%;
      padding-bottom: 38px; }

main {
  width: 78vw;
  height: calc(100vh - 140px);
  background-color: #EEEBE5;
  margin-left: 22vw; }
  main .tabcontent {
    max-width: 730px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #fff;
    padding: 35px 30px 30px 30px;
    border-radius: 8px; }
    main .tabcontent h3 {
      opacity: 0.5;
      font-size: 14px;
      color: #131313;
      margin-bottom: 30px; }
    main .tabcontent .message1 {
      display: flex;
      font-size: 14px;
      align-items: center;
      margin-bottom: 30px;
      position: relative; }
      main .tabcontent .message1::before {
        content: "";
        width: 40px;
        height: 40px;
        color: transparent;
        border-radius: 50%;
        background-image: url("img/printer.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        position: absolute; }
      main .tabcontent .message1 p {
        margin: 0 60px 0 70px;
        line-height: 20px;
        display: flex; }
      main .tabcontent .message1 span {
        opacity: 70%;
        text-align: right;
        flex-basis: 70px; }
    main .tabcontent :nth-child(3), main .tabcontent :nth-child(5) {
      margin-bottom: 20px; }
    main .tabcontent .message3 {
      max-width: 550px;
      margin: 0 auto;
      background: #F7F6F3;
      border-radius: 10px;
      padding: 20px 30px;
      margin-bottom: 30px; }
    main .tabcontent .message4 {
      display: flex;
      margin-left: 60px; }
      main .tabcontent .message4 img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
        border-radius: 10px; }

@media screen and (max-width: 1024px) {
  aside {
    width: 40vw;
    display: none;
    z-index: 4; }
    aside .aside_close {
      display: block; }

  main {
    width: 100vw;
    margin-left: 0; }

  header {
    width: 100vw;
    margin-left: 0; }

  .aside-btn {
    display: block;
    position: absolute;
    top: 300px;
    left: 0px;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 1px solid black;
    background-color: black;
    z-index: 3;
    font-size: 30px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px; }

  .aside_close {
    width: 40px;
    height: 40px;
    color: black;
    background-color: #fff;
    border: 1px solid white;
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: 300px;
    border-radius: 3px; } }
@media screen and (max-width: 750px) {
  aside {
    width: 100vw; }

  header {
    width: 100vw; }
    header .header-top {
      margin-left: 20px;
      padding-right: 30px; }
      header .header-top .header-top_img2 img {
        width: 30px !important; }
    header .header-top .header-top_left h2 {
      font-size: 25px;
      white-space: nowrap; }
    header .header-top_right_avat, header .header-top_right_buttons {
      width: 0vw; }
    header .tab {
      justify-content: space-between;
      height: 45px;
      width: 100%;
      overflow: hidden;
      margin: 0px 0px 15px 20px;
      padding-right: 40px; }
      header .tab button {
        margin-right: 5px; }

  main {
    overflow-y: auto;
    width: 100vw; }
    main .tabcontent {
      margin: 15px;
      padding: 10px; }
      main .tabcontent .message1 p {
        margin: 0px 20px 0 60px; }
      main .tabcontent .message1 span {
        flex-basis: 230px; }
      main .tabcontent .message4 {
        margin-left: 15px; }
        main .tabcontent .message4 img {
          width: 50px;
          height: 50px; } }

/*# sourceMappingURL=style.css.map */
